<h1>Create a Team and Heroes!</h1>

<form action="/" method="post">

  <label for="team-name">Team Name:</label>
  <input type="text" name="team[name]">

  <label for="team-motto">Team Motto:</label>
  <input type="text" name="team[motto]">

  <h1>Hero 1 </h1>
    <label for="hero-name">Hero's Name:</label>
    <input id="member1_name" type="text" name="team[members][][name]">
    <label for="hero-power">Hero's Power:</label>
    <input id="member1_power" type="text" name="team[members][][power]">
    <label for="hero-bio">Hero's Biography:</label>
    <input id="member1_bio" type="text" name="team[members][][bio]">

  <h1>Hero 2 </h1>
    <label for="hero-name">Hero's Name:</label>
    <input id="member2_name" type="text" name="team[members][][name]">
    <label for="hero-power">Hero's Power:</label>
    <input id="member2_power" type="text" name="team[members][][power]">
    <label for="hero-bio">Hero's Biography:</label>
    <input id="member2_bio" type="text" name="team[members][][bio]">

  <h1>Hero 3 </h1>
    <label for="hero-name">Hero's Name:</label>
    <input id="member3_name" type="text" name="team[members][][name]">
    <label for="hero-power">Hero's Power:</label>
    <input id="member3_power" type="text" name="team[members][][power]">
    <label for="hero-bio">Hero's Biography:</label>
    <input id="member3_bio" type="text" name="team[members][][bio]">


  <input id ="submit" type="submit">
</form>

<!-- params = {team => {
  :name => "user input",
  :motto => "user input"
  :members => [
    {
      :name => "user input"
      :power => "user input"
      :bio => "user input"
    },
    {
      :name => "user input"
      :power => "user input"
      :bio => "user input"
    }
  ]
}

id="member1_name"

-->
